* {
	box-sizing: border-box;
}

html, body {
	margin:0; 
	height: 100%;
}

.bgimg-intro, .bgimg-FAQ, .bgimg-contact, .bgimg-about, .bgimg-intern, .bgimg-HF {
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-intro {
    background-image: url("BrokerFAQ.jpg");
    min-height: auto;
}

.bgimg-FAQ {
    background-image: url("InternFAQs.jpg");
    min-height: 100%;
}

.bgimg-contact {
    background-image: url("InternContact.jpg");
    min-height: 100%;
    opacity: 0.7;
}

.bgimg-about {
    background-image: url("Mentor_Mentee_Errol_DAundre1_Blu.jpg");
    min-height: 100%;
    opacity: 1;
}

.bgimg-intern {
    background-image: url("FunConvos_Grn.jpg");
    min-height: 100%;
}

.bgimg-HF {
    background-image: url("Brandon_Tom_Steve_Wht.jpg");
    min-height: 100%;
    opacity: 1;
}

ul {
    list-style-type: none;
}

/*
.act {
    color: black;
    font-size: 22px;
}
*/

.header {
	overflow: hidden;
	position: fixed;
	background-color: #3D3D3D;
	top: 0;
	width: 100%;
	height: 12%;
	display: flex;
	flex-direction: row;
	z-index: 10;
}

.testFlex {
    display: flex;
    background-color: red;
    width: 100%;
    height: 30%;
}

.header-one {
    top: 0;
    width: 11%;
    height: 100%;
}
.header-two {
	width: 17%;
	height: 100%;
}

.header-three {
	width: 11%;
	height: 100%;
}

.header-three p {
    position: absolute;
    top: 40px;
	color: #FFFFFE;
}

.navbar-placeholder {
	width: 100%;
	height: 11%;
	float: left;
}

.navbar {
	overflow: hidden;
	background-color: #D8D8D8;
  	top: 11%;
  	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7%;
	font-famly: "Arial Verdana";
}

.navbar a {
	float: left;
  	display: block;
  	color: #444444;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
	transition: color 0.15s, background-color 0.075s, border-style 0.3s;
}

.navbar a:hover {
    background-color:#7ABB43;
    border-style: inset;
    color: white;
    transition: color 0.3s, background-color 0.15s, border-style 0.6s;
}

.Overview {
	width: 100%;
	height: 13.5%;
	float: left;
}

.Overview2 {
	width: 25%;
	height: 40%;
	float: left;
}


.Overview3 {
	width: 50%;
	height: 40%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	line-height: 2.5;
	font-family: Arial, sans-serif;
	z-index: 1;
}


.Overview4 {
	width: 25%;
	height: 40%;
	display: flex;
	float: left;
}

.Overview5, .bottom-button {
	width: 100%;
	height: 5%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}	

.circle {
	border-radius: 50%;
	width: 33.83px;
	height: 33.83px;
	background-color: #EBEBEB;
	display: flex;
	margin-left: 49%;
	align-items: center;
	justify-content: center;
        transition: background-color 0.3s, width 0.13s, height 0.13s, margin-left 0.13s;
	z-index: 2;
}

.circle:hover {
    border-radius: 80%;
    width: 40px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    margin-left: 48.65%;
    transition: background-color 0.3s, width 0.13s, height 0.13s, margin-left 0.13s;
}


#scrollToExperience.circle {
    position: absolute;
    margin-top: -1%;
    margin-left: 48.9%;
}

#scrollToAboutHF.circle {
    position: absolute;
    margin-top: -1%;
}

#scrollToFAQ.circle {
    position: absolute;
    margin-top: -5%;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid #FDFDFD;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FDFDFD;
}

.textContainer {
    margin: auto;
    line-height: 2.5;
    text-align: center;
    width: 30%;
    padding-top: 15%;
    color: dark-gray;
}

.section-about-left li, .section-intern-left li, .section-HF-left li {
    transition: color 0.15s, font-size 0.13s;
    color: DodgerBlue;
    font-size: 20px;
    cursor: default;
    font-weight: bold;
}

.section-about-left li:hover, .section-intern-left li:hover, .section-HF-left li:hover {
    transition: color 0.15s, font-size 0.13s;
    color: black;
    cursor: pointer;
    font-size: 22px;
    
}

.section-intro-container, .section-about-container, .section-intern-container, .section-HF-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.space-filler {
    padding-top: 10%;
}

.section-intro-container {
    text-align: center;
}

#testContent {
    padding-top: 10%;
}

#testContent img {
    float: left;
    border-radius: 30%;
    height: 20%;
    width: 30%;
}

#testContent header {
    background-color: lime;
    color: white;
    line-height: 1.2;
}

.section-about-left, .section-intern-left, .section-HF-left, .section-about-middle,.section-intern-middle,.section-HF-middle, .section-about-right, .section-intern-right, .section-HF-right {
    flex: 1 100%;
}

.section-about-right {
    background-color: #869BAE;
}

.section-intern-right {
    background-color: #50674B;
}

.section-HF-right {
    background-color: #F9F9F9;
}

.section-intro-text {
    flex: 1 100%;
    line-height: 2.5;
    margin: auto;
    color: white;

}

.aside-1, .aside-2 {
    flex: 1 80%;
}


.section-about-left, .section-intern-left, .section-HF-left {
    text-align: center;
    line-height: 2.5;
}

.section-about-middle, .section-intern-middle, .section-HF-middle {
    flex-shrink: 1.8; 
}

.section-about-right, .section-intern-right, .section-HF-right {
    text-align: center;
    font-size: 15px;
    overflow-y: scroll;
    line-height: 2.0;
}


td {
    border: 1px solid black;
}

.spaceAdder {
    padding-top: 30%;
}


table {
    border-collapse: collapse;
    width: 50%;
}

/*.faq-text {
    display: flex;
    justify-content: center;
    align-items: center;
} */

td{
	backgound-color: rgb(255, 255, 255);	
}

.responsiveTable{
    display: none;
}

.faq-left, .connect-left {
    width: 75%;
    height: 100%;
    float: left;
}   

.faq-right, .connect-right {
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-top, .connect-top {
    width: 100%;
    height: 15%;
    float: left;
}

.connect-bottom {
    width: 75%;
    float: left;
    height: 85%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 5px;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    background-color: #D8D8D8;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.section-left, .section-middle, .section-right {
    flex: 1 100%;
    height: 500px;
}

.section-left {
    order: 1;
    text-align: center;
    line-height: 2.5;
}

.section-middle {
    order: 2;
    flex-shrink: 1.5;
}

.section-right {
    order: 3;
    text-align: center;
    font-size: 15px;
    overflow-y: scroll;
    line-height: 2.0;
}

.overview-text{
    font-family: "museo-sans";
}

.responsive-form{
    display: none;
}

.formwrapper{
    width:100%;
    height:70%;
    display: flex;
    justify-content: center;
}

.formdiv{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.formheader{
	width: 100%;
	height: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
}


@media only screen and (max-width: 768px) {
      .navbar, .navbar-placeholder, .Overview, .Overview2, .Overview4, .section-left, .section-right, .section-middle, .section-about-left, .section-about-middle, .section-intern-left, .section-intern-middle, .section-HF-left, .section-HF-middle, .circle, .triangle, .triangle-up  {
        display: none;
      }

      .space-filler {
	  padding-top: 30%;
      }
      
      .aside-1, .aside-2 {
	  flex: 1 0%;
      }

      
      .header {
	  justify-content: space-between;
      }
      
     .header-one {
	 display: none;
     }
     
     .header-two {
	 width: 50%;
	 float: none;
     }

     .header-three {
	 width: 50%;
     }

    .padding-intern {
	padding-top: 1100%;
    }

    .padding-HF {
	padding-top: 500%;
    }

    .padding-FAQ {
	padding-top: 600%;
    }

    .padding-connect {
	padding-top: 100%;
    }
    
    
    .section-about-right, .section-intern-right, .section-HF-right {
	overflow-y: visible; 
	width: 100%;
	height: 100%;
    }

    .section-about-container, .section-intern-container, .section-HF-container {
	padding-top: 30%;
	
    }
    .Overview3, table{
        height: 100%;
        width: 100%;
    }

    .responsiveTable{
	display: block;
    }
    
    .faq-head, .form-head{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-form{
	display: block;
    }

    .circle{
	display: none;
    }
}

