* {
	box-sizing: border-box;
}

html, body {
	margin:0; 
	height: 100%;
}

ul {
    list-style-type: none;
}

.about-left li {
    transition: color 0.15s, font-size 0.13s;
    color: DodgerBlue;
    font-size: 20px;
    font-family: Arial Rounded MT Bold, sans-serif;
    cursor: default;
}

.about-left li:hover {
    transition: color 0.15s, font-size 0.13s;
    color: black;
    cursor: pointer;
    font-size: 22px;
    
}

/*
.act {
    color: black;
    font-size: 22px;
}
*/

.header {
	overflow: hidden;
	position: fixed;
	background-color: #3D3D3D;
	top: 0;
	width: 100%;
	height: 11%;
	display: flex;
	align-items: center;
}

.header p {
	color: #FFFFFF;
	padding: 30%
}


.navbar {
	overflow: hidden;
	background-color: #D8D8D8;
  	position: fixed;
  	top: 11%;
  	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5.5%;
	font-family: "Arial Verdana";
}

.navbar a {
	float: left;
  	display: block;
  	color: #444444;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.Overview {
	width: 100%;
	height: 30%;
	float: left;
}

.Overview2 {
	width: 25%;
	height: 40%;
	float: left;
}


.Overview3 {
	width: 50%;
	height: 40%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	line-height: 2.5;
	font-family: Arial, sans-serif;
}


.Overview4 {
	width: 25%;
	height: 40%;
	display: flex;
	float: left;
}

.Overview5 {
	width: 100%;
	height: 30%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;

}	

.circle {
	border-radius: 50%;
	width: 33.83px;
	height: 33.83px;
	background-color: #EBEBEB;
	display: flex;
	align-items: center;
	justify-content: center;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid #FDFDFD;
}

.textContainer {
    font-family: Arial, sans-serif;
    margin: auto;
    line-height: 2.5;
    text-align: center;
    width: 30%;
    padding-top: 15%;
    color: dark-gray;
}

/*
.about_rightScroll {
    float: right;
    width: 100%;
    height: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.about_rightScrollContent {
    float: right;
    font-family: Arial, sans-serif;
    line-height: 2.5;
    width: 30%;
}
*/

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.about-left, .about-middle, .about-right {
    flex: 1 100%;
    height: 500px;
}

.about-left {
    order: 1;
    text-align: center;
    line-height: 2.5;
}

.about-middle {
    order: 2;
    flex-shrink: 1.5;
}

.about-right {
    order: 3;
    font-family: Futura, sans-serif;
    text-align: center;
    font-size: 15px;
    overflow-y: scroll;
    line-height: 2.0;
}





    


